{% extends "::base.html.twig" %}

{% block title %}Suppression de {{ workshop.name }} - {{ parent() }}{% endblock %}

{% block body %}
<h1>Suppression de {{ workshop.name }}</h1>
<p>Confirmer la suppression de {{ workshop.name }} ? Cette action est irréversible !</p>
{{ form(form) }}
<a href="{{ path('portfolio_workshop_show', { slug: workshop.slug }) }}">Annuler</a>
{% endblock %}
