<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        {% stylesheets 'bundles/portfolio/css/*.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        {% javascripts '@PortfolioBundle/Resources/public/js/*.js' %}
          <script src="{{ asset_url }}" defer></script>
        {% endjavascripts %}
    </head>
    <body>
        <nav>
          <a href="{{ path('portfolio_task_index') }}">Accueil</a>
          <a href="{{ path('portfolio_workshop_list') }}">Ateliers</a>
          <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
        </nav>
        {% if app.request.hasPreviousSession %}
          {% for failure in app.session.flashBag.get('failure') %}
            <div class="flashbag failure">{{ failure }}</div>
          {% endfor %}
          
          {% for error in app.session.flashBag.get('error') %}
            <div class="flashbag error">{{ error }}</div>
          {% endfor %}
          
          {% for warning in app.session.flashBag.get('warning') %}
            <div class="flashbag warning">{{ warning }}</div>
          {% endfor %}
          
          {% for info in app.session.flashBag.get('info') %}
            <div class="flashbag info">{{ info }}</div>
          {% endfor %}
          
          {% if is_granted('ROLE_ADMIN') %}
            {% for debug in app.session.flashBag.get('debug') %}
              <div class="flashbag debug">{{ debug }}</div>
            {% endfor %}
          {% endif %}
        {% endif %}
        {% block body %}{% endblock %}
    </body>
</html>
