<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        {% stylesheets 'bundles/portfolio/css/*.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        {% javascripts '@PortfolioBundle/Resources/public/js/*.js' %}
          <script src="{{ asset_url }}" defer></script>
        {% endjavascripts %}
    </head>
    <body>
        <nav>
          <a href="{{ path('portfolio_task_index') }}">Accueil</a>
          <a href="{{ path('portfolio_workshop_list') }}">Ateliers</a>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
