<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Connexion à Portfolio</title>
  </head>
  <body>
    {% if app.request.hasPreviousSession %}
      {% for failure in app.session.flashBag.get('failure') %}
        <div class="flashbag failure">{{ failure }}</div>
      {% endfor %}
      
      {% for error in app.session.flashBag.get('error') %}
        <div class="flashbag error">{{ error }}</div>
      {% endfor %}
      
      {% for warning in app.session.flashBag.get('warning') %}
        <div class="flashbag warning">{{ warning }}</div>
      {% endfor %}
      
      {% for info in app.session.flashBag.get('info') %}
        <div class="flashbag info">{{ info }}</div>
      {% endfor %}
      
      {% if is_granted('ROLE_ADMIN') %}
        {% for debug in app.session.flashBag.get('debug') %}
          <div class="flashbag debug">{{ debug }}</div>
        {% endfor %}
      {% endif %}
    {% endif %}
    <h1>Connexion</h1>
    {{ form(form) }}
  </body>
</html>
